/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1.5;
  line-height: 1.5;
  margin-top: 20px;
  padding-top: 26px;
}
.nav-wrapper {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
}
.header-img {
  width: 150px;
  display: flex;
  padding-top: 10px;
}
.links-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-left: auto;
}
.li-items {
  text-align: right;
}
.h1-image {
  background: url(/images/landing.jpg) no-repeat center;
  height: 780px;
  background-size: cover;
  margin-bottom: 40px;
}
.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 98px;
}

p.center-header {
  padding-top: 20px;
}
.heading-1 {
  font-size: 64px;
  letter-spacing: 2px;
}
.section-2 {
  text-align: center;
  text-decoration: none;
  position: relative;
}
/* this  does not work the way I want it to */
/* .section-2:after {
  content: '';
  width: 229px;
  position: absolute;
  left: 640px;
  bottom: -5px;
  border-width: 0 0 3px;
  border-style: solid;
  border-color: #00b172;
} */

.content-spotify-list {
  display: flex;
  justify-content: space-between;
}
.small-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.headings-4 {
  color: #00b172;
}
.footer-wrapper {
  background-color: #00b172;
  padding: 34px;
  margin: 12px;
  color: #fff;
}
.footer-ps h5 {
  font-size: 20px;
}

.footer-heading {
  text-decoration: none;
  position: relative;
  display: flex;
}

.footer-heading:after {
  content: '';
  width: 320px;
  position: absolute;
  left: 0px;
  bottom: -5px;
  border-width: 0 0 3px;
  border-style: solid;
  border-color: #fff;
}
.footer-img {
  width: 25%;
  height: auto;
}
.footer-ps {
  display: flex;
  flex-direction: column;
  width: 326px;
}
